.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    flex:1;
    padding: 10px 5px;
    
}

.menu{
    
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.mobile-menu{
    display: none;
}

.web-menu{
    display: flex;
}

.logo{
    display: flex;
    font-size: 30px;
    color: blueviolet;
    font-weight: 700;
    padding: 10px 0px;
}

@media only screen and (max-width: 720px){ 
    .mobile-menu{
        display: flex;
    }
    .web-menu{
        display: none;
    }
    .logo{
        font-size: 24px;
    }
}
