.skillcard{
    /* background-color: aquamarine; */
    width: 80px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4px 6px;
    margin: 6px;
}